<!DOCTYPE html>
<html>

<head>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
		type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		type="text/css" />
	<link rel="stylesheet" href="index.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Wanna - Backend</title>
</head>

<body>

	<div id="outer">

		<h1>Status</h1>

		<div class="database">
			<i class="fa fa-database" aria-hidden="true"></i>
			<i class="fa fa-circle text-success" aria-hidden="true"></i>
		</div>
		<p class="status">Online</p>
	</div>

</body>

</html>