.database {
	position: relative;
	display: inline-block;
	margin: 10px;
	}

	.database .fa-database {
	font-size: 60px;
	}

	.database .fa-circle {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: -3px -6px;
	}

	.status {
	display: inline-block;
	}

	#inner {
		display: table;
		margin: 0 auto;
		border: 1px solid black;
	  }

	  #outer {
		width: 100%;
  text-align: center;
	  }