
pitch1/.DS_Store

logo/.DS_Store

.DS_Store

WannaApp/node_modules/\@react-native-community/cli/build/commands/server/external/xsel

pitch1/presentation.pptx

logo/~$logo_motion.pptx

mockups/logo.svg

website/core_ui_template/
