template
  layout-basic
    #app
      .container
        .row
          b-col(sm='8')
            .card
              // USER, TIMESTAMP e OPÇÕES
              .user-area
                .card-op-area
                  a(:href='product.user')
                    img.img-user(:src='product.user_img')
                  a.txt-username(:href='product.user')
                    b {{product.user}}
                  a.txt-username •
                  a.txt-username.txt-tmstmp {{moment(product.timestamp, "YYYY-MM-DDThh:mm:ss").locale('pt-pt').fromNow()}}
                .card-options-area
                  b-button.search-bar.btn-mini.bg-trans(@mouseover='setmodal(product.id)', @click='showmodal(product.id)')
                    i.fas.fa-ellipsis-h
                  modal(v-if='shownmodal == product.id', @before-open='this.shownmodal=product.id', name='post_options', width='400px', height='auto')
                    b-list-group-item.post-list(href='') Copiar ligação
                    b-list-group-item.post-list(href='') Reportar
              // FOTOS DO POST
              .card-img-caixa
                img.card-img.card-img-blur(v-if='product.imgs.length==1', :src='product.imgs[0]')
                img.card-img.card-img-front(v-if='product.imgs.length==1', :src='product.imgs[0]')
                b-carousel#carousel1(v-if='product.imgs.length>1', style='text-shadow: 1px 1px 2px #333;', controls='', indicators='', :interval='30000', v-model='slide', @sliding-start='onSlideStart', @sliding-end='onSlideEnd')
                  b-carousel-slide(v-for='image in product.imgs', :img-src='image')
              // TITULO, MARCA, DESCRIÇÃO, PREÇO e AFINS
              .description-area
                .card-op-area
                  div(style='display:inline-flex;')
                    h5(style='margin:0px;') {{product.name}}
                    button.toggle-description(v-b-toggle='product.id')
                      i.fa.fa-sort-down
                  p.details-post(v-if='product.manufacturer')
                    b {{product.manufacturer}} ‏‏‎ • ‏‏‎ {{product.size}} ‏‏‎ • ‏‏‎ {{product.color}}
                  p.details-post(v-else='')
                    b {{product.size}} ‏‏‎ • ‏‏‎ {{product.color}}
                .card-options-area
                  h4(style='color: #4A53FC;')
                    b {{product.price.toFixed(2)}}€
                b-collapse.mt-2(v-bind:id='product.id')
                  .card-op-area
                    p.card-text {{product.description}}
              // COMENTÁRIOS
              .comment-area
                .my-comment(v-for='comment in product.comments')
                  a(:href='comment.user')
                    img.img-user(:src='comment.user_img')
                  .comment
                    a.txt-username(:href='comment.user')
                      b {{comment.user}}
                    a.txt-username {{comment.text}}
                    a.txt-username •
                    a.txt-username.txt-tmstmp {{moment(comment.timestamp, "YYYY-MM-DDThh:mm:ss").locale('pt-pt').fromNow()}}
                .my-comment
                  a(:href='current_user_name')
                    img.img-user(:src='current_user_img')
                  b-form-textarea.comment-input(v-model='text', rows='1', max-rows='4', v-bind:id="'comment_'+product.id", placeholder='Escreve um comentário...')
                  button.btn.icon.icon-send(@click='')
script.
  import router from "../../router"
  import LayoutBasic from "../layouts/BottomBar.pug"
  export default {
  name: 'Comments',
  components: {
  LayoutBasic,
  },
  data () {
  return {
  current_user_name: 'vitorpeixoto',
  current_user_img: 'https://i.imgur.com/KMlWJNv.jpg',
  product: {
  id: 1,
  timestamp: '2019-11-10T16:15:22',
  user: 'joao_castro_12',
  user_img: 'https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg',
  name: 'Botas fixes',
  description: "Estas botas são mesmo fixes. Acho que as devias comprar ;)",
  price: 45.90,
  size: '40',
  color: 'Castanho',
  sex: 'Homem',
  manufacturer: 'Timberland',
  imgs: [
  "https://onpointfresh.com/wp-content/uploads/2016/11/street-style-men-boots-1.jpg"
  ],
  likes: 123,
  comments: [
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'rosameireles_',
  user_img: 'https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg',
  timestamp: '2019-11-10T16:28:22',
  text: 'Já comprei ao @joao_castro_12 e fiquei satisfeita com o serviço!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  },
  {
  user: 'tiagomcosta',
  user_img: 'https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80',
  timestamp: '2019-11-10T16:18:22',
  text: 'Tenho umas iguais e adoro!'
  },
  {
  user: 'yee',
  user_img: 'https://img.estadao.com.br/thumbs/640/resources/jpg/7/8/1524230513387.jpg',
  timestamp: '2019-11-10T16:23:22',
  text: 'Vai mas é trabalhar gandulo.'
  }
  ]
  }
  }
  },
  created: function() {
  },
  mounted: function() {
  //console.log(this.$router);
  //console.log(this.products);
  },
  methods: {
  }
  }
