
!node_modules/
node_modules/*
!node_modules/react-native-elements/
node_modules/react-native-elements/*
!node_modules/react-native-elements/src/
node_modules/react-native-elements/src/*
!node_modules/react-native-elements/src/helpers/
node_modules/react-native-elements/src/helpers/*
!node_modules/react-native-elements/src/helpers/getIconType.js

jspm_packages
.expo/

package-lock.json
yarn.lock